header{position:fixed;width: 100%;z-index: 55;}
footer{background-color: black;}
footer ul li{list-style:none;padding-left:0px;}
footer ul{padding-left:0px;}
footer a{display: block;}
video{width:100%}
.carousel-caption{left:14%;text-align: left;}
.menu{margin-left:5%;}
.custom-button{
    width: 100%;
    border: 1px solid white;
    background-color:black;
    color:#fff;
    padding: 20px 20px;
    font-size: 25px;
    border-radius: 3px;
    
}
.custom-button:hover{
    background-color:white;
     color:black;
}
.text-modi{
    font-size: 4.5625rem;
    font-family: var(--serif);
}
.btn-height1{
    padding-bottom: 60px;
}
.foot-sec3{
    background-color: white;
    width: 100%;
  }
  .bg-primary1 {
    background-color: black
  }
  .border{width:100%;height:1px;background-color:#fff;float:left;margin-top:0px;margin-bottom:20px; border: none;}
  .yut-cl{
    padding-left: 4px;
  }
  .lik-cl{
    padding-right: 12px;
  }